body {
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
}
.intro-text{
  text-align: left;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.info .card {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 6px 10px;
  text-align: left;
}

.info .card p{
  text-align: justify;
}

.info .card:hover{
  background-color: darkblue;
  color: white;
}

.info .card p b{
  color: darkblue;
}

.info .card:hover p b{
  color: white;
}

header hr{
  width: 50%;   
  margin: 20px auto; 
  border: 2px solid black;
}

body, html {
  margin: 0;
  padding: 0;
}

footer {
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  background-color: navy;
  color: white;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 300px; /* biar pas berhenti scroll */
}

a {
  color: inherit;        /* supaya ikut warna teks induknya */
  text-decoration: none; /* hilangin garis bawah */
}

a:hover {
  color: white;      
}

.intro-img {
  perspective: 1000px; /* biar ada efek kedalaman */
}

.intro-img img {
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 10px 20px;
  transition: transform 0.15s ease, box-shadow 0.3s ease;
}

.intro-img img:hover {
  box-shadow: 0 25px 40px ;
}

header h1{
  font-weight: bold;
}

.info .card h3{
  margin-top: 1px;
  margin-bottom: 3px;
  padding: 0px;
}

.about-section h2{
  margin-right: 1000px;
  margin-top: 300px;
}

.about-section hr{
  width: 20%;  
  margin-left: 105px;
  border: 1px solid black;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

.about-section .about-container{
  display: flex;
  align-items: start;     /* biar sejajar tengah secara vertikal */
  justify-content: space-between;
  gap: 40px;
  margin: 40px 100px;
}

.about-section .about-container .about-text p{
  text-align: left;
}


.abutimg {
  display: flex;
  width: 100%;
}

.abutimg img{
  width: 100%;
}

.wrapper {
  width: 400px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  margin-top: -200px;

}

.nav-about a{
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #dedede;
  font-size: 0px;
  border-radius: 50%;
  margin: 10px;
}

.nav-about a:hover{
  background-color: #0096c7;
}

#slide1:target ~ .abutimg {
  margin-left: 0px;
}

#slide2:target ~ .abutimg {
  margin-left: -100%;
}

#slide3:target ~ .abutimg {
  margin-left: -200%;
}

#slide4:target ~ .abutimg {
  margin-left: -300%;
}
